/*
 * I love horses - CSS
 *
 * Inherits: normalize.css
 *
 */

/* layout defaults */
  html,
  body {
    height:100%;
    overflow:hidden;
  }

  html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    font-family: Papyrus, "Comic Sans MS", cursive;
    color:#000;
    -webkit-font-smoothing: antialiased;
  }

  header,
  p.footnote {
    background:rgba(0,0,0,0.75);
    color:#ff1493;
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
    padding:15px 10px 10px 10px;
    line-height:1;
    text-align:center;
  }

  #bg {
    background:url(../img/horse.gif) no-repeat center center; /* ANDROID */
    background-size: contain;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }

  h1,
  p#seconds {
    float:left;
    margin:0;
    padding:0;
  }

  p#seconds {
    margin-top:10px;
    float:right;
    text-align:right;
  }

  p.footnote {
    top:auto;
    bottom:0;
  }

  a {
    color:#ff1493;
  }